.imputWrapper {
  width: 100%;
  display: flex;
}

.prompt {
  display: inline-block;
  color: rgb(166 227 45);
  margin-right: 10px;
}

.input {
  display: inline-flex;
  align-items: center;
  color: #767676;
  font-size: 16px;
}

.caret {
  position: relative;
  animation: blink linear 0.7s infinite;
}

.caret::after {
  content: '';
  width: 8px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  top: -1px;
}

.inputElement {
  background: transparent;
  border: transparent;
  color: transparent;
  outline: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}