.imputWrapper {
  width: 100%;
  display: flex;
}

.prompt {
  display: inline-block;
  color: rgb(166 227 45);
  margin-right: 10px;
}

.input {
  display: flex;
  align-items: center;
  color: #767676;
  font-size: 16px;
}

.input::after {
  content: '';
  width: 8px;
  height: 22px;
  background-color: #fff;
  margin-left: 2px;
}

.inputElement {
  background: transparent;
  border: transparent;
  color: transparent;
  outline: none;
}